header{
    background-color: black;
    font-family: fantasy;
    color: white;
    text-align: center;
    border-color: white;
    border-style: groove;
   }
#navInicio{
    text-align: left;     
    
